
/*Estilização Barras de progresso*/
.container {
    width: 230px;
    height: 45px;
    padding: 22px 10px 10px 8px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px auto 0px;
    flex-wrap: wrap;
    gap: 5px;
}

.discipline-title {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 15px;
    text-align: left;
}

.bar {
    background-color: white;
    width: 22px;
    height: 23px;
    overflow: hidden;
    transform: skewX(-30deg);
    position: relative;
    border: 1.5px solid black;
}

.bar .fill {
    background-color: rgb(2, 255, 2);
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
}

.text {
    position: absolute;
    bottom: 5px;
    right: 10px;
    top: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
/*Circulo responsável pela foto perfil*/
.circle {
    margin: 20px 7px 10px -50px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #ccc;
    z-index: 1;
    overflow: hidden;
    position: relative;
     /* Posiciona o círculo atrás dos outros elementos */
  }
  .circle img{
    position: absolute;
    object-fit: cover;
    width: 120%;
    height: 100%;
  }


 
 /* Estilização Página com duas divisão:*/
 /*conteudo principal .page*/
 /*barra lateral .sidebar*/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo para centralizar o conteúdo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

/* Contêiner de "folha" A4 */
.page {
    width: 210mm;
    height: 297mm;
    background-color: white;
    padding: 10px 10px 10px 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
}


/* Coluna principal */
.main-content {
    width: 70%;
    padding: 10px;
    background-color: #fff;
}

.titulo{
    font-family: "Chakra Petch", sans-serif;
}

h1{
    font-family: "Chakra Petch", sans-serif;
}
h2{
    color: grey;
    text-align: center;
}
h3{
    font-family: "Audiowide", sans-serif;
    margin: 10px;
}
p{
    text-align: justify;
}

.nome_animado {
    letter-spacing: 2px;
    font-size: 55px;
}

/* Coluna lateral */
.sidebar {
    width: 35%;
    background-color: #01365a;
    color: white;
    display: flex;
    flex-direction: column;
    /* Remove o padding interno */
    padding: 8px;
    margin: -2% -2% -2% 1px; /* Remove a margem interna para encostar nas bordas */
}

/* Estilo dos ícones e textos na coluna lateral */
.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    -webkit-text-stroke: 1px rgba(4, 215, 252, 0.438);
}

.icon-text i {
    font-size: 24px;
    margin-right: 8px;
}

.icon-text span {
    font-weight: bold;
    word-break: break-word;
}

.icon-text a{
    text-decoration: none;
}
a{
    text-decoration: none; 
}
.icon-text a:visited {
    color: inherit; /* Herda a cor do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
    -webkit-text-stroke: 1px rgba(4, 215, 252, 0.438);
}

/* Estilos de impressão */
@media print {
    body {
        background: none;
    }

    .page {
        box-shadow: none;
        margin: 0;
    }
}

/*animação de barras neon*/
.neon-bar {
    position: relative;
    width: 400px; /* Comprimento da linha */
    height: 2px;
    background: linear-gradient(90deg, #0a0e27, #00f0ff, #0a0e27);
    background-size: 200%;
    animation: moveLight 2s linear infinite;
    box-shadow: 0 0 8px #00f0ff, 0 0 12px #00f0ff;
    margin: 20px;
    
  }
  
  /* Ajuste dos pontos */
  .neon-bar::before,
  .neon-bar::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #00f0ff;
    box-shadow: 0 0 8px #00f0ff, 0 0 16px #00f0ff;
  }
  .neon-bar::before {
    left: 0;
  }
  .neon-bar::after {
    right: 0;
  }

  /* Configurações da animação */
  @keyframes moveLight {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }

